<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> 
	
  	<footer class="aw-layout-footer  js-content" th:fragment="layout-footer">
		<div class="container-fluid">
			<span class="aw-footer-disclaimer">&copy; 2017 Megas. Todos os direitos reservados.
			<i  class="glyphicon glyphicon-info-sign " type="button" rel="popover" data-trigger="hover" title="MEGAS"
						
						data-content="Email: tavinhomegas18@gmail.com 
						Telefone: (83) 9 9887-0611" >
						<button type="button" class="close" data-dismiss="popover" aria-label="Close"></button>
						</i></span>
		</div>
	</footer>

</html>