<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}">
	

<body>
<section layout:fragment="conteudo">

<div class="panel panel-primary">
		
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title label alert-success">Nova Pessoas</h1>
				<a class="btn btn-success pull-right" th:href="@{/controles/pessoa}" sec:authorize="hasRole('ROLE_ADMIN')"><span
					class="glyphicon glyphicon-zoom-in"></span>Pesquisar Pessoa</a>
			</div>
		</div>
</div>

<div class="container-fluid">

	<form class="form-horizontal" method="post" th:action="@{/controles/pessoa}" th:object="${pessoa}">
		<div th:replace="/layout/MensagemGeral :: alert"></div>
		<div th:replace="/layout/MensagemErro :: alert"></div>
		<div class="panel panel-default">

			<div class="panel-body ">
				<input type="hidden" th:field="*{codigo}" />				
				
				<div class="form-group">					
					<div class="col-md-4"
						th:classappend="${#fields.hasErrors('nomePessoa')} ? has-error">
						<label for="nomePessoa" class="control-label">Nome:</label>
						<input type="text" class="form-control block" disabled="disabled" id="nomePessoa" th:field="*{nomePessoa}" />
					</div>
					<div class="col-md-4"
						th:classappend="${#fields.hasErrors('apelido')} ? has-error">
						<label for="apelido" class="control-label">Apelido/Razão:</label>
						<input type="text" class="form-control block" disabled="disabled" id="apelido" th:field="*{apelido}" />
					</div>
					<div class="col-md-2 text-center">
						<label for="tipoPessoa" class="control-label">Tipo Pessoa:</label>						
						<div class="control-label">
						<div class="">
						</div>
						    <label><input type="radio" name="tipoPessoa" th:field="*{tipoPessoa}" value="FISSICA" id="F"> Físsica</label>
						    <label><input type="radio" name="tipoPessoa" th:field="*{tipoPessoa}" value="JURIDICA" id="J"> Jurídica</label>
						</div>						
					</div>					
									
					<div class="col-md-2 FISSICA cpf" style="display:none"
						th:classappend="${#fields.hasErrors('cpf')} ? has-error">
						<label for="cpf" class="control-label">CPF:</label>
						<input type="text" class="form-control block" disabled="disabled" id="cpf" th:field="*{cpf}" />
					</div>					
					<div class="col-md-2 JURIDICA cnpj" style="display:none"
						th:classappend="${#fields.hasErrors('cnpj')} ? has-error">
						<label for="cnpj" class="control-label">CNPJ:</label>
						<input type="text" class="form-control block" disabled="disabled" id="cnpj" th:field="*{cnpj}" />
					</div>
				</div>
				
				<div class="form-group">					
					<div class="col-md-3"
						th:classappend="${#fields.hasErrors('celular')} ? has-error">
						<label for="celular" class="control-label">Celular:</label>
						<input type="text"  class="js-phone-number form-control block" disabled="disabled" id="celular" th:field="*{celular}" />
					</div>					
					<div class="col-md-3"
						th:classappend="${#fields.hasErrors('telefone')} ? has-error">
						<label for="telefone" class="control-label">Telefone:</label>
						<input type="text" class="js-phone-number form-control block" disabled="disabled" id="telefone" th:field="*{telefone}" />
					</div>					
					
					<div class="col-md-6"
						th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label for="email" class="control-label">Email:</label>
						<input type="email" class="form-control block" disabled="disabled" id="email" th:field="*{email}" placeholder="emai@example.com" />
					</div>
				</div>
				
				<div class="form-group">					
					<div class="col-md-5"
						th:classappend="${#fields.hasErrors('endereco')} ? has-error">
						<label for="endereco" class="control-label">Endereço:</label>
						<input type="text" class="form-control block" disabled="disabled" id="celular" th:field="*{endereco}" />
					</div>
					<div class="col-md-1"
						th:classappend="${#fields.hasErrors('numero')} ? has-error">
						<label for="numero" class="control-label">Numero:</label>
						<input type="text" class="form-control block" disabled="disabled" id="numero" th:field="*{numero}" />
					</div>
					<div class="col-md-2"
						th:classappend="${#fields.hasErrors('bairro')} ? has-error">
						<label for="bairro" class="control-label">Bairro:</label>
						<input type="text" class="form-control block" disabled="disabled" id="bairro" th:field="*{bairro}" />
					</div>
					<div class="col-md-2"
						th:classappend="${#fields.hasErrors('cidade')} ? has-error">
						<label for="cidade" class="control-label">Cidade:</label>
						<input type="text" class="form-control block" disabled="disabled" id="cidade" th:field="*{cidade}" />
					</div>							
					<div class="col-md-2">
						<label for="uf" class="control-label">UF:</label> <select
							class="form-control block" disabled="disabled" name="uf" th:field="*{uf}">
							<option th:each="uf : ${Alluf}" 
								th:value="${uf}" th:text="${uf.descricao}"></option>
						</select>
					</div>
				</div>	
				<div class="form-group">
					<div class="col-md-5"
						th:classappend="${#fields.hasErrors('complemento')} ? has-error">
						<label for="complemento" class="control-label">Complemento:</label>
						<input type="text" class="form-control block" disabled="disabled" id="complemento" th:field="*{complemento}" />
					</div>					
					<div class="col-md-7"
						th:classappend="${#fields.hasErrors('observacao')} ? has-error">
						<label for="observacao" class="control-label">Observação:</label>
						<input type="text" class="form-control block" disabled="disabled" id="observacao" th:field="*{observacao}" />
					</div>				
					
				</div>
								
				
				<div class="form-group">
					<div class="col-sm-10">
						<a 	class="btn btn-success btn_block"  
							title="Editar Pessoa"  rel="tooltip" data-placement="bottom">Editar								
						</a>
						<button type="submit" disabled="disabled" class="btn btn-primary block">Salvar</button>
						<a href="javascript:history.back()" class="btn btn-default">Cancelar</a>
					</div>
				</div>
			</div>
		</div>	
	</form>
	
</div>

</section>
</body>
</html>